:root {
    --background-color:#fffffa
    --main-lining-color: #333138;
    --secondary-lining-color: #818D92;
    --element-color: #000103;
    --accent-color: #128C7E;
    --error-color: #FF312E;

    /* These are added for intellisense, the values will be overwritted by Nextjs */
    --font-geist-mono: '';
    --font-geist-sans: '';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100dvh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-geist-mono);
}

a {
    color: inherit;
    text-decoration: none;
}
