:root {
    --background-color:#fffffa
    --main-lining-color: #333138;
    --secondary-lining-color: #818D92;
    --text-color: #000103;
    --accent-color: #128C7E;
    --error-color: #FF312E;

    /* These are added for intellisense, the values will be overwritted by Nextjs */
    --font-geist-mono: '';
    --font-geist-sans: '';
}

body {
    min-height: 100dvh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-geist-mono), "sans-serif";
    color: var(--text-color) ;
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}
